html{
    font-family: "Tasa Orbiter", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
    color: #d6d6c2;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.page-container{
    display: flex;
    flex: 1;
    align-self: center;
    max-width: 65ch;
}
h1{
    width: 100%;
    align-self: flex-start;
    border-bottom: solid 2px cornflowerblue;
    margin-bottom: 12px;
}
ul{
    align-self: flex-start;
}
div{
    display: grid;
    
}
img{
    width: 100%;
    object-fit: contain;
}
p{
    text-indent: 50px;
    margin: 8px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    padding: .5rem;
    margin: .1rem;
    gap: 3rem;
}

