html{
    font-family: "Tasa Orbiter", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #d6d6c2;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.photo{
    width: 100%;
    object-fit: contain;
}
h2 {
    justify-self: center;
}
p{
    margin: 30px;
}
.quote{
    border: 1px solid cornflowerblue;
}
figcaption{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 10px;
}
@media (width >= 600px){ 
    .page-container{
        display: flex;
        flex: 1;
        justify-content: center;
    }       
    main{
        display: grid;
        grid-template-columns: 4fr 3fr;
        justify-items: center;
        margin: 0;
    }
    main div{
        display: grid;
        grid-template-rows: 1fr 6fr;
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        padding: 0;
    }
    div h2, p {
        margin: 0;
        padding: 0;
    }
    h2 {
        max-height: 60px
    }
    p{
        text-indent: 50px;
        margin: 2px;
    }
    figure{
        margin: 2px;
    }
    .photo{
        width: 100%;
        object-fit: contain;
    }
    #content{
        max-width: 65ch;
        margin: 20px;
    }
    .quote{
        grid-row: 2;
        grid-column: 1 / 3;
        margin: 0;
        padding: 0;
    }
}

